# Python / venv
.venv/
venv/
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# OS/Editor
.DS_Store
Thumbs.db
.vscode/

# Logs
*.log

"@ | Out-File -Encoding utf8 .gitignore

# PDF


# Se data tiver dados muito pesados/sensíveis, prefira ignorar:
# data/
# Ou ignore só os brutos:
# data/raw/
